<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/BlogPosting">
<!-- 
	每篇文章的布局格式 
-->
    {% include head.html %}
    <body class="has-push-menu">
		<!-- 阅读时间 -->
        {% include minutes-to-read.html %}
		<!-- 通过开源的svg来绘制页面各种图标 -->
        {% include svg-icons.html %}
		<!-- 加载顶部菜单图标、博客名图标、搜索图标及对应的链接 -->
        {% include header.html %}
        <section class="post">

            <article role="article" id="post" class="post-content" itemprop="articleBody">
                
				<p itemprop="post-info" class="post-info">
					<!-- 画日历图标，加载时间 -->
					{% if page.date %}
                        <svg id="date" class="icon-calendar"><use xlink:href="#icon-calendar"></use></svg>
                        <time itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}" class="date">
                            {% include date.html date=page.date %}
                        </time>
                    {% endif %}
					<!-- 画钟表图标，加载时间 -->
                    <svg id="clock" class="icon-clock"><use xlink:href="#icon-clock"></use></svg>
                    <span>{{ minutesText }}</span>
                </p>
				<!-- 加载文章标题title、文章描述description -->
                <h1 class="post-title" itemprop="name">{{ page.title }}</h1>
                <p itemprop="description" class="subtitle">{{ page.description }}</p>
				<!-- 如果有图片，加载图片 -->
                {% if page.image %}
                    <img src="{{ page.image }}" alt="Imagem" class="post-cover">
                {% endif %}
				<!-- 加载文章内容 -->
                {{ content }}
            </article>
			<!-- 加载进度条 -->
            <div class="progress-bar" data-minutes="{{ totalMinutes }}">
                <span class="time-completed"></span>
                <span class="time-remaining"></span>
                <div class="bar">
                    <span class="completed" style="width:0%;"></span>
                    <span class="remaining" style="width:100%;"></span>
                </div>
            </div>
			<!-- 加载分享页面，因为Facebook、Twitter、Google都被墙了，所以这里注释掉 -->
            <!--
			{% include share.html %}
			-->
			<!-- 加载博主信息 -->
            {% include author.html %}
			<!-- 加载评论功能，因为还得注册什么东西，先注释掉 -->
			<!--
            {% include comments.html %}
			-->
			<!-- 加载底部信息 -->
            {% include footer.html %}
        </section>
    </body>
</html>
